$fa-font-path: "../fonts/webfonts" !default;
@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Jersey+15&family=Oleo+Script:wght@400;700&display=swap");

/*colors*/
.background-gradient-color-red {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    $active-secondary-color 0,
    $active-primary-color 100%
  ) !important;
}
.text-active-primary {
  color: $active-primary-color !important;
}

.text-active-secondary {
  color: $active-secondary-color !important;
}

.text-active-tertiary {
  color: $active-tertiary-color !important;
}

.background-gradient-color {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.9) 54%,
    rgba(140, 0, 0, 1) 99%
  );
}

.background-gradient-modal {
  background-image: linear-gradient(
    to right,
    #434343 0%,
    black 100%
  ) !important;
}

.form-check-input:checked {
  &:checked {
    background-color: $active-secondary-color !important;
    border-color: $active-secondary-color !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(141, 1, 1, 0.25);
  }
}

.mine-custom-btn {
  // background-color: $active-primary-color !important;
  // border: black 1px solid !important;
  /* CSS */
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    $active-secondary-color 0,
    $active-primary-color 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(111, 58, 58, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;

  &:focus {
    box-shadow: #350909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #350909 0 -3px 0 inset;
  }

  &:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #350909 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: #350909 0 3px 7px inset;
    transform: translateY(2px);
  }
}

.min-custom-btn-grey {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    $background-4th-color 0,
    $background-secondary-color 100%
  ) !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem $active-secondary-color !important;
}
.logo-img-container {
  width: 50px;
  min-width: 50px;
  aspect-ratio: 1/1;
}

.default-button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 2rem;

  &:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
  }
}

.err-animation {
  animation: shake 0.05s;
  animation-iteration-count: 5;

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/*header*/

/*Technologuies*/

.technology-detail-img {
  font-size: 20rem;

  @media screen and (max-width: 1200px) {
    font-size: 18rem;
  }
  @media screen and (max-width: 992px) {
    font-size: 13rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 10rem;
  }
}

.tec-link {
  &:hover {
    .tec-info {
      transition: width 0.2s ease-out;
    }
  }
  .tec-info {
    background-color: beige;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 20px;
    left: 22px;
    z-index: 100;

    overflow: hidden;
  }
}
